.custom-scroll-sidebar-bg {
    background: #212529!important;
}
.left-sidebar {
    padding-top: 65px!important;
}
.scroll-sidebar {
    height: calc(100% - 0%)!important;
    position: relative;
    /* height: auto!important; */
}
.sidebar-nav ul li .fa {
    color: #fff;
}
/*********************************new css***************************/
.nav-link[data-toggle].collapsed:after {
    content: "";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "";
}